<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="default" xsi:type="File"
      layout="${longdate} ${logger} ${message}"
      fileName="${basedir}/logs/app-log.txt"
      archiveFileName="${basedir}/logs/archives/app-log.{#}.txt"
      archiveNumbering="DateAndSequence"
      archiveAboveSize="10240000"
      archiveDateFormat="yyyyMMdd"/>
  </targets>
  <rules>
    <logger name="*" writeTo="default" />
  </rules>
</nlog>